@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(MauiProgram).Assembly"
        AdditionalAssemblies="@[typeof(Vox.Shared.UI.Layouts.MainLayout).Assembly]">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Vox.Shared.UI.Layouts.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Vox.Shared.UI.Layouts.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
